.btn-mdb-color {
  width: 50%;
}


.logo {
  width: 20%;
}

.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%;

padding: 3.5%;
margin: 2.5%;
background-color: #f3f5fa;
border-radius: 30px;
}

.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease;
}
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {

-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}

.img-fluid{
  opacity: 0.6;
}

.img-fluid:hover{
  opacity: 1;
  box-shadow: 5px 5px 8px #888888;
}
